# ==============================
# ShopZone - Root Git Ignore
# ==============================

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Frontend build
frontend/dist/

# Backend build
backend/target/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Java
*.class

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp